# Load Data

In [82]:
import pandas as pd
import time, datetime
import multiprocessing as mp
from datetime import datetime as dt

In [104]:
import os
path = r'/Users/TyPainter1/Desktop/Masters/spring-2022/capstone/00-data/gdelt_data/raw/'
years = os.listdir(path)
years.remove('.DS_Store')
yr = [x for x in years if not (x.startswith('.'))]

year_paths= []
months=[]
file_paths= []

 

for i in range(len(years)): # enter year folder
    year_paths.append(path + years[i]) # year paths
    months.extend(os.listdir(year_paths[i])) # months of data in each year
months = [x for x in months if not (x.startswith('.'))]
for j in range(len(months)): # enter months in each year folder
    file_paths.append(year_paths[i] + "/" + months[j]) # year + month folder path

In [105]:
file_paths

['/Users/TyPainter1/Desktop/Masters/spring-2022/capstone/00-data/gdelt_data/raw/2021/gdelt_jan2021 copy.csv',
 '/Users/TyPainter1/Desktop/Masters/spring-2022/capstone/00-data/gdelt_data/raw/2021/gdelt_jan2021.csv']

In [34]:
start = time.time()
# read data in chunks of 100k rows at a time
chunk = pd.read_csv('../00-data/gdelt_data/2021/gdelt_jan2021.csv', 
                    chunksize=100000, 
                    dtype={'3': 'str'}, # mixed data types
                    index_col=[0]) # specify index column
raw_df = pd.concat(chunk) # concat chunks together
end = time.time()
print("Read csv with chunks: ",(end-start),"sec")
print(len(raw_df))
raw_df

Read csv with chunks:  10.470641851425171 sec
4169211

,1,3,4
0,2.021010e+13,10news.com,https://www.10news.com/news/national/coronavir...
1,2.021010e+13,ketchikandailynews.com,https://www.ketchikandailynews.com/news/local/...
2,2.021010e+13,grandforksherald.com,https://www.grandforksherald.com/news/accident...
3,2.021010e+13,montrealgazette.com,https://montrealgazette.com/news/local-news/pr...
4,2.021010e+13,energeticcity.ca,https://energeticcity.ca/2020/12/31/elderly-co...
...,...,...,...
4169206,2.021013e+13,thecourier.co.uk,https://www.thecourier.co.uk/news/uk-world/193...
4169207,2.021013e+13,gazetteandherald.co.uk,https://www.gazetteandherald.co.uk/news/nation...
4169208,2.021013e+13,ksla.com,https://www.ksla.com/2021/01/31/harrison-count...
4169209,2.021013e+13,bridgwatermercury.co.uk,https://www.bridgwatermercury.co.uk/news/natio...
4169210,2.021013e+13,newsday.com,https://www.newsday.com/news/nation/coronaviru...

In [35]:
raw_df[raw_df['1'].notna()] # rows without NA in column 1

,1,3,4
0,2.021010e+13,10news.com,https://www.10news.com/news/national/coronavir...
1,2.021010e+13,ketchikandailynews.com,https://www.ketchikandailynews.com/news/local/...
2,2.021010e+13,grandforksherald.com,https://www.grandforksherald.com/news/accident...
3,2.021010e+13,montrealgazette.com,https://montrealgazette.com/news/local-news/pr...
4,2.021010e+13,energeticcity.ca,https://energeticcity.ca/2020/12/31/elderly-co...
...,...,...,...
4169206,2.021013e+13,thecourier.co.uk,https://www.thecourier.co.uk/news/uk-world/193...
4169207,2.021013e+13,gazetteandherald.co.uk,https://www.gazetteandherald.co.uk/news/nation...
4169208,2.021013e+13,ksla.com,https://www.ksla.com/2021/01/31/harrison-count...
4169209,2.021013e+13,bridgwatermercury.co.uk,https://www.bridgwatermercury.co.uk/news/natio...
4169210,2.021013e+13,newsday.com,https://www.newsday.com/news/nation/coronaviru...

In [36]:
df = raw_df[raw_df['1'].notna()] # remove NA rows
print(len(raw_df))
print(len(df))
df

4169116

,1,3,4
0,2.021010e+13,10news.com,https://www.10news.com/news/national/coronavir...
1,2.021010e+13,ketchikandailynews.com,https://www.ketchikandailynews.com/news/local/...
2,2.021010e+13,grandforksherald.com,https://www.grandforksherald.com/news/accident...
3,2.021010e+13,montrealgazette.com,https://montrealgazette.com/news/local-news/pr...
4,2.021010e+13,energeticcity.ca,https://energeticcity.ca/2020/12/31/elderly-co...
...,...,...,...
4169206,2.021013e+13,thecourier.co.uk,https://www.thecourier.co.uk/news/uk-world/193...
4169207,2.021013e+13,gazetteandherald.co.uk,https://www.gazetteandherald.co.uk/news/nation...
4169208,2.021013e+13,ksla.com,https://www.ksla.com/2021/01/31/harrison-count...
4169209,2.021013e+13,bridgwatermercury.co.uk,https://www.bridgwatermercury.co.uk/news/natio...
4169210,2.021013e+13,newsday.com,https://www.newsday.com/news/nation/coronaviru...

In [37]:
df['1'] = [str(int(float(i))) for i in df['1']] # convert date time stamp to str
df['1'][0]

<ipython-input-37-0124e8ab8da2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['1'] = [str(int(float(i))) for i in df['1']]

'20210101000000'

In [40]:
year = df['1'].str[0:4].astype(int) # extract year
month = df['1'].str[4:6].astype(int) # extract month
day = df['1'].str[6:8].astype(int) # extract day
df.insert(0, 'year', year) # create year column
df.insert(1, 'month', month) # create month column
df.insert(2, 'day', day) # create day column
df =df.rename(columns={'3': "website", '4': 'url'}) # rename columns
df = df.drop('1', axis=1) # drop old date time stamp
df

,year,month,day,website,url
0,2021,1,1,10news.com,https://www.10news.com/news/national/coronavir...
1,2021,1,1,ketchikandailynews.com,https://www.ketchikandailynews.com/news/local/...
2,2021,1,1,grandforksherald.com,https://www.grandforksherald.com/news/accident...
3,2021,1,1,montrealgazette.com,https://montrealgazette.com/news/local-news/pr...
4,2021,1,1,energeticcity.ca,https://energeticcity.ca/2020/12/31/elderly-co...
...,...,...,...,...,...
4169206,2021,1,31,thecourier.co.uk,https://www.thecourier.co.uk/news/uk-world/193...
4169207,2021,1,31,gazetteandherald.co.uk,https://www.gazetteandherald.co.uk/news/nation...
4169208,2021,1,31,ksla.com,https://www.ksla.com/2021/01/31/harrison-count...
4169209,2021,1,31,bridgwatermercury.co.uk,https://www.bridgwatermercury.co.uk/news/natio...
4169210,2021,1,31,newsday.com,https://www.newsday.com/news/nation/coronaviru...

In [112]:
def clean_gdelt_data(file_paths):
    for file in file_paths:
        
        chunk = pd.read_csv(file, 
                        chunksize=100000, 
                        dtype={'3': 'str'}, # mixed data types
                        index_col=[0]) # specify index column
        raw_df = pd.concat(chunk) # concat chunks together
        
        df = raw_df[raw_df['1'].notna()] # remove NA rows
        df['1'] = [str(int(float(i))) for i in df['1']] # convert date time stamp to str
        year = df['1'].str[0:4].astype(int) # extract year
        month = df['1'].str[4:6].astype(int) # extract month
        day = df['1'].str[6:8].astype(int) # extract day
        df.insert(0, 'year', year) # create year column
        df.insert(1, 'month', month) # create month column
        df.insert(2, 'day', day) # create day column
        df = df.rename(columns={'3': "website", '4': 'url'}) # rename columns
        df = df.drop('1', axis=1) # drop old date time stamp
        
        year_folder = file.split('/')[-2]
        file_name = file.split('_')[-1]
        df.to_csv('/Users/TyPainter1/Desktop/Masters/spring-2022/capstone/00-data/gdelt_data/clean/'+year_folder+'/'+file_name)

In [114]:
start = time.time()
clean_gdelt_data(file_paths)
end = time.time()
print("Read csv with chunks: ",(end-start),"sec")

<ipython-input-112-9047a7082856>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['1'] = [str(int(float(i))) for i in df['1']] # convert date time stamp to str

Read csv with chunks:  91.26302790641785 sec